<div class="mat-card-cvr">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card class ="box">
    <mat-card-header class ="mat-card-header">
      <mat-card-title>Sign Up</mat-card-title>
    </mat-card-header>
    <form class="example-form" (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">       <!--οταν γινεται submit ( type submit, ειναι στο κουμπι Signup), ειναιτύπου ngForm  -->
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput name="email" ngModel type ="email" placeholder="E-Mail" #emailInput="ngModel" required email>
          <mat-error *ngIf =emailInput.invalid>Please enter a valid email</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput name="password" ngModel type ="password" placeholder="Password" #passwordInput="ngModel" required password>
          <mat-error *ngIf =passwordInput.invalid>Please enter a valid password</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput name="username" ngModel type ="username" placeholder="Username" #usernameInput="ngModel" required username>
          <mat-error *ngIf =usernameInput.invalid>Please enter a valid username</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput name="mobile" ngModel type ="mobile" placeholder="Mobile" #passwordInput="ngModel" required mobile>
        </mat-form-field>
          <!--Χρησιμοποιουμε mat-form-field και matInput για να ελεγχξουμε τον type με NgModel(email και password) required (*) επειδη πρεπει να μπουνε σιγουρα)   -->
      </mat-card-content>
      <button mat-stroked-button color="accent"  class="btn-block" type="submit" *ngIf="!isLoading">Sign Up</button>
    </form>
  </mat-card>
</div>
