@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,600,700,800');

.coupon-popup-sec {
    color: #fff;
    padding: 0;
    width: 100%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

::ng-deep .animate__animated .mat-dialog-container {
    padding: 0px !important;
}

.coupon-popup-sec h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.coupon-popup-sec .coupon-content {
    margin: 0px;
    padding: 90px 0;
    float: left;
    width: 100%;
    box-sizing: border-box;
}

.coupon-popup-sec .coupon-content .coupon-brdr-sec1 {
    width: 38%;
    float: left;
    padding: 36.5px 0;
    box-sizing: border-box;
    text-align: center;
    background: #ff0000;
}

.coupon-popup-sec .coupon-content .coupon-brdr-sec2 {
    padding: 70px 0;
    background: #000;
}

.coupon-popup-sec .coupon-content .coupon-brdr-sec1 h2 {
    font-size: 68px;
    font-weight: 800;
}

.coupon-popup-sec .coupon-content .coupon-brdr-sec1 h3 {
    font-size: 29px;
}

.coupon-popup-sec .coupon-content p {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.5px
}

.coupon-popup-sec .coupon-content h4 {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 30px;
}

.coupon-popup-sec .coupon-content .coupon-brdr-sec1 h5 {
    font-size: 18px;
}

.coupon-popup-sec .coupon-content .coupon-brdr-sec2 .code-now-btn {
    cursor: pointer;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    margin: 0 0 10px 0;
    padding: 15px 25px;
    clear: both;
    border: 0px;
    background: #ff0000;
    font-family: 'Montserrat', sans-serif;
}

.coupon-popup-sec .coupon-content .coupon-brdr-sec2 .code-now-btn:hover {
    background: #00ae4d;
}

.coupon-popup-sec .coupon-content .coupon-brdr-sec2 .code-now-btn:focus,
.coupon-popup-sec .coupon-cls-btn:focus {
    outline: none;
}

.coupon-popup-sec .coupon-cls-btn {
    font-size: 14px;
    line-height: 18px;
    width: 28px;
    height: 28px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #FFF;
    position: absolute;
    right: 1px;
    top: 1px;
    border: 0px;
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.27);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.27);
    cursor: pointer;
}

.popup-graybox {
    width: 100%;
    z-index: 99999;
    text-align: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
}

.coupon-popup-sec .coupon-cls-btn:hover {
    background: #ff0000;
    color: #fff;
}

.coupon-popup-sec .coupon-content {
    background: #000;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    -moz-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
}

.coupon-popup-sec .coupon-content .main_content {
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

@media only screen and (max-width:640px) {
    .coupon-popup-sec {
        width: 90%;
    }
}

@media only screen and (max-width:480px) {
    .coupon-popup-sec .coupon-content .coupon-brdr-sec1 h2 {
        font-size: 42px;
    }

    .coupon-popup-sec .coupon-content .coupon-brdr-sec1 h3 {
        font-size: 19px;
    }

    .coupon-popup-sec .coupon-content .coupon-brdr-sec1 h5 {
        font-size: 16px;
    }

    .coupon-popup-sec .coupon-content .coupon-brdr-sec2 .code-now-btn {
        font-size: 16px;
    }

    .coupon-popup-sec .coupon-content .coupon-brdr-sec2 {
        padding: 54px 0;
    }

    .coupon-popup-sec .coupon-content {
        padding: 45px 0 30px 0;
    }

    .coupon-popup-sec .coupon-content h4 {
        font-size: 18px;
        letter-spacing: 0.5px;
    }
}

@media only screen and (max-width:425px) {
    .coupon-popup-sec .coupon-content .coupon-brdr-sec1 {
        width: 45%;
        padding: 23.5px 0;
    }

    .coupon-popup-sec .coupon-content .coupon-brdr-sec2 {
        padding: 46px 0;
    }

    .coupon-popup-sec .coupon-content p {
        font-size: 12px;
    }

    .coupon-popup-sec .coupon-content h4 {
        font-size: 16px;
        padding-bottom: 15px;
    }

    .coupon-popup-sec .coupon-content .coupon-brdr-sec2 .code-now-btn {
        font-size: 14px;
        letter-spacing: 0.5px;
        padding: 10px 15px;
    }

    .coupon-popup-sec .coupon-content {
        padding: 30px 0 20px 0;
    }
}