<section class="popup-graybox">
  <div class="coupon-popup-sec">
    <div class="coupon-content"
      style="background: #000 url(assets/images/popup.jpg) no-repeat top left;background-size: cover;">
      <h4>AI powered Diet</h4>
      <div class="main_content">

        <div class="coupon-brdr-sec2">

          <button class="code-now-btn" (click)="close()" data-edit="button">get started</button>
        </div>
      </div>
      <button (click)="close()" class="coupon-cls-btn close-btn">X</button>
      <p>ready to start your 30 days meal plan?</p>
    </div>
  </div>
</section>